$color1: #fd335e !default;
$color2: #08fdd8 !default;

.connectorLine {
  stroke-dasharray: var(--pathLength);
  stroke-dashoffset: var(--pathLength);
  animation: animateLineFill 2.5s ease-in-out forwards, animateColor 2s linear forwards;
  &.hidden {
    display: none;
  }
}

@keyframes animateColor {
  from {
    stroke: $color1;
  }
  to {
    stroke: $color2;
  }
}

@keyframes animateLineFill {
  to {
    stroke-dashoffset: 0;
  }
}
